@import '@upp/chrome/styles/colors';
@import '@upp/chrome/styles/animate';

.container {
  display: inline-block;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
  }
}

.input {
  margin-top: 5px;
  width: 100%;
  color: $navy;
  font-size: 14px;
  box-sizing: border-box;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -moz-appearance: textfield;
    -webkit-appearance: none;
  }
}

.inputHidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.inputWrapper {
  display: flex;

  .input {
    margin-top: 0;
  }
}
