@import '@upp/chrome/styles/media';
@import '@upp/chrome/styles/colors';
@import '@upp/chrome/styles/animate';

.header {
  position: relative;
  padding-top: 12px;

  &.withUser {
    display: flex;
    align-items: center;
  }
}

.title {
  position: absolute;
  top: 0;
  left: 75px;
  margin-left: 12px;
  font-weight: 500;
  text-align: center;

  @include animate(fadeIn, 1s);
}

.logo {
  position: relative;
  left: 50%;
  display: block;
  width: 100px;
  height: 100px;
  z-index: 1;
  transform: translateX(-50%);

  @include transition(all, 1s);

  &.withUser {
    left: 0;
    margin-left: 0;
    width: 60px;
    height: 60px;
    transform: translateX(0);
  }
}

.logout {
  position: absolute;
  top: -15px;
  right: 10px;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  cursor: pointer;

  @include transition(opacity);

  &:hover {
    opacity: 1;
  }

  path {
    fill: $concrete;
  }
}

.side {
  position: absolute;
  top: -28px;
  left: -65px;
  bottom: 0;
  border-radius: 5px 0 0 5px;
  width: 45px;
  height: 195vh;
  background-color: $brand-main;
}

.tabs {
  position: absolute;
  top: 100px;
  left: -65px;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .formTab {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 50%;
      height: 50%;
    }
  }

  .active {
    position: relative;
    background-color: $brand-base;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 100%;
      background-color: $brand-accent;
    }
  }
}