@import '@upp/chrome/styles/media';
@import '@upp/chrome/styles/colors';
@import '@upp/chrome/styles/animate';

.navigation {
  position: relative;
  display: none;
}

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fff;
  box-sizing: border-box;
  z-index: 2;

  & > div {
    flex: 1 auto;
  }

  &.open {
    position: relative;
    margin-left: 0;
  }
}

.menu {
  top: 0;
  display: flex !important;
  flex-direction: column;
  height: 100vh !important;
  padding: 28px 20px 20px;
  overflow: auto;
  background: $white;
  box-shadow: 0 0 4px -1px $darkGray;
  box-sizing: border-box;
  z-index: 9999 !important;
  transition: all 0.5s ease !important;

  :global(.bm-menu) {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: auto !important;
    overflow: initial !important;
  }

  :global(.bm-item-list) {
    display: flex;
    flex-direction: column;
  }
}

.crossButton {
  left: 8px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;

  @include transition(opacity);

  &:hover {
    opacity: 1;
  }

  button {
    border-radius: 3px;
  }
}

.closeIcon {
  width: 16px;
  height: 16px;

  path {
    fill: $concrete;
  }
}
