.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  overflow-y: scroll;
  height: 100%;
  background-color: #fcfcfc;
  box-shadow: -0.5px 5px 15px 0.5px #dddddd;
}

.expanded {
  width: 300px;
  padding: 10px;
}