@import '@upp/chrome/styles/animate';
@import '@upp/chrome/styles/mixins';

.field {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 0;
  box-sizing: border-box;

  &.hidden {
    position: absolute;
    top: -9999;
    left: -9999;
    padding: 0;
    opacity: 0;
    visibility: hidden;
  }
}
