@import '@upp/chrome/styles/colors';
@import '@upp/chrome/styles/animate';
@import '@upp/chrome/styles/mixins';

.icon {
  width: 32px;
  height: 32px;

  @include transition();

  path {
    fill: $crimson;
  }
}

.button {
  position: fixed;
  top: 5%;
  right: -300px;
  display: flex;
  padding: 16px 308px 16px 16px;
  opacity: 0.75;
  cursor: pointer;
  border: 1px solid $darkRed;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: $white;
  z-index: 9998;

  @include transition(all, 0.5s);
  @include animate(fadeInLeft, 1s);

  &:focus {
    box-shadow: 0 0 1px 2px $coral;
  }

  &:hover {
    opacity: 1;

    .icon {
      transform: rotate(360deg);
    }
  }

  &.notAuth {
    border-color: $asbestos;
    background: $lightGray;

    &:focus {
      box-shadow: 0 0 1px 2px $concrete;
    }

    .icon path {
      fill: $asbestos;
    }
  }

  &.candidate {
    border-color: $seaGreen;
    background: $lightGreen;

    &:focus {
      box-shadow: 0 0 1px 2px $paleGreen;
    }

    .icon path {
      fill: $seaGreen;
    }
  }
}

.opened {
  margin-right: 300px;
  opacity: 1;

  .icon {
    transform: rotate(360deg);
  }

  &:hover {
    opacity: 1;
    border-color: $concrete;

    .icon {
      transform: rotate(90deg);
    }
  }
}
